<!DOCTYPE html>
<html>
<head>
  <title> Test App</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'jquery.jstree','tree_builder' %>
</body>
</html>
